.task-card{
  width: 800px;
  height: 600px;
  background-color: #11171f;
  z-index: 10;
  position: relative;
  width: 100%;
  overflow: auto;
  z-index: 1;
  /* margin-top: 5rem; */
  border-radius: 10px;
}

header{
  display: flex;
  justify-content: end;
}

p{
  color: #fff;
  justify-content: center;
  display: flex;
  margin-top: 2rem;
  font-size: 2rem;
}

app-add-task{
  position: static;
  z-index: 100;
}

h1{
  margin: 0.5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top:50%;
  translate:0% -50%;
}



button {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  border: none;
  padding: 0.6rem 1.2rem;
  color: #ffffff;
  font-weight: 600;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 145, 255, 0.6), 0 0 20px rgba(0, 145, 255, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 1rem;
  display: block;
}

button:hover {
  background: linear-gradient(145deg, #3e6ee7, #688eee);
  box-shadow: 0 0 15px rgba(0, 145, 255, 0.8), 0 0 30px rgba(0, 145, 255, 0.4);
}

ul {
  list-style: none;
}

